.hero{
    display: flex;
    flex-direction: column;
}



.hero .hero__image{
   border-radius: 8px;
}

@media only screen and (min-width: 64em){
    .hero{
        flex-direction: row;
    }

    .hero .hero__heading, .hero .hero__image{
        width: 50%;
    }

    .hero .hero__image{
        border-top-left-radius: 0;
        border-bottom-left-radius:0;
    }
}